version: '3.8'

services:
    db:
        image: postgres:16-alpine
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-itsaree}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB:-boxing}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network

    app:
        image: princegtpinn/boxing-app:latest
        container_name: nextjs_app
        restart: always
        env_file:
            - .env
        depends_on:
            - db
        networks:
            - app-network
        # No ports exposed - only accessible through nginx

    nginx:
        image: nginx:alpine
        container_name: nginx_proxy
        restart: always
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        depends_on:
            - app
        networks:
            - app-network
        command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''

    certbot:
        image: certbot/certbot
        container_name: certbot
        restart: unless-stopped
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
    postgres_data:

networks:
    app-network:
        driver: bridge
